body {
    font-family: sans-serif;
    background-color: #dcc;
}
#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#btn, #panel {
    width: 600px;
}
ul#btn li {
    width: 105px;
    float: left;
    border: solid 1px black;
    border-bottom: 0;
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px 15px 0 0; 
    text-align: center;
    background-color: #161;
    list-style: none;
    cursor: pointer;
}
ul#btn li.active {
    background-color: #169;
    cursor: text;
}
.panel {
    display: none;
    width: 568px;
    float: left;
    border: solid 1px black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
}
.panel.active {
    display: block;
}
.panel h1{
    text-align: center;
} 
#footer {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 540px;
    background-color: #bbb;
    padding: 10px 30px;
    border-radius: 20px 0;
}
